{% extends 'base.html.twig' %}

{% block body -%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Category creation
        <small>preview of category</small>
    </h1>
    <!--
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
    -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Simple Full Width Table</h3>
                    <div class="box-tools">
                        <ul class="list-inline no-margin pull-right">
                            <li>
                                <a href="{{ path('category_new') }}" class="btn btn-primary">
                                    Create a new entry
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body pad">

                    <table class="table table-bordered table-hover table-striped records_list sorted_table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ category.id }}</td>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <td>{{ category.title }}</td>
                            </tr>
                            <tr>
                                <th>Slug</th>
                                <td>{{ category.slug }}</td>
                            </tr>
                            <tr>
                                <th>Lft</th>
                                <td>{{ category.lft }}</td>
                            </tr>
                            <tr>
                                <th>Lvl</th>
                                <td>{{ category.lvl }}</td>
                            </tr>
                            <tr>
                                <th>Rgt</th>
                                <td>{{ category.rgt }}</td>
                            </tr>
                            <tr>
                                <th>Root</th>
                                <td>{{ category.root }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('category') }}">
                                Back to the list
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}">
                                Edit
                            </a>
                        </li>
                        <li>{{ form(delete_form) }}</li>
                    </ul>

                </div><!-- /.box-body -->
            </div><!-- /.box -->


        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->
{% endblock %}
