<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{{ asset('assets/frontend/vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('assets/frontend/vendor/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="screen" />

        {% stylesheets filter="compass" filter='uglifycss' filter='cssrewrite' output="assets/frontend/css/all.css" "assets/frontend/scss/*.scss" %}
        <link rel="stylesheet" href="{{ asset_url | replace({'/app_dev.php': ''}) }}" type="text/css" />
        {% endstylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% include':_common:header.html.twig' %}
{% block body %}{% endblock %}
{% include':_common:footer.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('assets/frontend/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/frontend/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function () {

        })
    </script>
{% endblock %}
</body>
</html>
