{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">




            <p> LiSTE DE JSON:</p>
            <a href="">Nouveau JSON</a>

            <table class="table table-bordered table-responsive table-hover sorted_table">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Voir</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                {% for JSON in listingJSON %}
                    <tr>
                        <td id="product-{{ JSON.id }}">{{ JSON.id }}</td>
                        <td>{{ JSON.title }}</td>
                        <td>Voir</td>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                {% endfor %}


            </table>



            <p></p>
            <p></p>
            {% if oneJSON %}
                <p>listingJSON</p>
                {{ oneJSON.id }} /////{{ oneJSON.title }}
            {% endif %}


        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>$('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
{% endblock %}