<div class="green-bar">
    <div class="container">
        <a href="#" title="" class="btn hidden-xs fr btn-white">Purchase now!</a>
        <h2>Strong message that makes people take action instantly!</h2>
        <a href="#" title="" class="btn hidden-lg hidden-sm hidden-md fr btn-white">Purchase now!</a>
    </div>
</div>