<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2><a href="#" title=""><img src="{#{ asset('assets/images/footer-logo.png') }#}" border="0" alt=""></a></h2>
                <p>Lorem ipsum dolor sit amet, te vel illud clita tempor. Commodo laoreet mei no. Vis ea mollis mediocrem voluptatum, ad harum nominati duo. Dictas periculis salutatus ei est, eu odio augue vel. </p>
                <p class="social-icons">
                    <a href="#"><span class="fa fa-facebook"></span></a><a href="#"><span class="fa fa-twitter"></span></a><a href="#"><span class="fa fa-linkedin"></span></a><a href="#"><span class="fa fa-google-plus"></span></a><a href="#"><span class="fa fa-youtube"></span></a><a href="#"><span class="fa fa-instagram"></span></a>
                </p>
            </div>
            <div class="col-sm-3">
                <h2>Contact info</h2>
                <ul class="related-icons-list">
                    <li><span class="fa fa-map-marker"></span> 99 Barnard St - Suite 111<br> United States - GA 22222 </li>
                    <li><span class="fa fa-phone"></span> P: 3333 222 1111 <br>F: 3333 222 1111</li>
                    <li><span class="fa fa-envelope"></span> <a href="mailto:contact@masterscolors.com" title="">contact@masterscolors.com</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h2>Links</h2>
                <!--
                <ul class="sidebar-category-lists list-unstyled">
                    <li>FAQ </li>
                    <li>Rejoignez Nous</li>
                    <li><span class="fa fa-envelope"></span> <a href="mailto:contact@masterscolors.com" title="">Contactez Nous</a></li>
                </ul>
                -->
                {#{ knp_menu_render('footerMenu', {'allow_safe_labels': true}) | raw }#}
            </div>
            <div class="col-sm-3">
                <h2>Subscribe</h2>
                <p>Lorem ipsum dolor sit amet, te vel illud clita tempor. Commodo laoreet mei no. vel.</p>
                <form action="">
                    <div class="input-group input-group-lg subscription-form">
                        <input type="text" class="form-control" placeholder="Email">
                        <span class="input-group-btn">
                          <button class="btn btn-theme" type="button"><span class="fa fa-check"></span></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- container -->
</footer>
<div class="footer-bottom">&copy; 2015 <a href="http://www.guinot.com">www.guinot.com</a> - {{ 'copyright' | trans ({}, 'cms') }}</div>