<header class="bodyheader">

    <nav class="navbar">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo hidden-md hidden-lg" title="Guinot"><img src="{{ asset('assets/frontend/images/logo.png') }}" border="0" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

            <div class="top-bar">
                <div class="container">
                    <div class="hidden-xs hidden-sm col-sm-12 col-md-12">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a href="#" title="" class="">{{ app.request.locale|upper }}</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" class="pro">Espace Pro</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{#{ path('profile') }#}"><span class="fa fa-user"></span> Mon Compte</a></li>
                                <li><a href="{#{ path('logout') }#}"><span class="fa fa-user"></span> Logout</a></li>
                            {% else %}
                                <li><a href="{#{ path('login') }#}"><span class="fa fa-user"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown">Languages: {{ app.request.locale|upper }} <span class="fa fa-angle-down"></span></a>
                                {#{ knp_menu_render('languageMenu', {'allow_safe_labels': true})  }#}
                            </li>
                            <li class="social-icons"><a href="#"><span class="fa fa-facebook"></span></a><a href="#"><span class="fa fa-twitter"></span></a><a href="#"><span class="fa fa-linkedin"></span></a><a href="#"><span class="fa fa-google-plus"></span></a><a href="#"><span class="fa fa-youtube"></span></a><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="logo-bar">
                <div class="container">
                    <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="row">

                            <div class="col-md-4">
                            {#{ knp_menu_render('topMenu', {'allow_safe_labels': true})  }#}
                            </div>
                            <a class="navbar-logo col-md-4" title="Guinot"><img src="{{ asset('assets/frontend/images/logo.png') }}" border="0" alt="logo" align="center"></a>
                            <!--<ul class="nav navbar-nav navbar-right col-md-4">
                                    <li><a href="/pro" class="pro">Espace Pro</a></li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a href="{#{ path('fos_user_profile_show') }#}"><span class="fa fa-user"></span> Mon Compte</a></li>
                                    <li><a href="{#{ path('fos_user_security_logout') }#}"><span class="fa fa-user"></span> Logout</a></li>
                                    {% else %}
                                        <li><a href="{#{ path('fos_user_security_login') }#}"><span class="fa fa-user"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% endif %}
                                    <li class="social-icons"><a href="#"><span class="fa fa-facebook"></span></a><a href="#"><span class="fa fa-twitter"></span></a><a href="#"><span class="fa fa-linkedin"></span></a><a href="#"><span class="fa fa-google-plus"></span></a><a href="#"><span class="fa fa-youtube"></span></a><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>-->
                        </div>

                    </div>

                </div><!-- /.container-fluid -->

            </div>
            <div class="header-bar">

                <div class="container">

                    {#{ knp_menu_render('mainMenu', {'allow_safe_labels': true})  }#}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-search"></span></a>
                            <div class="dropdown-menu search-dropdown">
                                <form action="">
                                    <div class="input-group search-form">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-btn">
                                          <button class="btn btn-theme" type="button"><span class="fa fa-search"></span></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </div><!-- /.container-fluid -->

            </div><!-- /.navbar-collapse -->
        </div>

    </nav>
</header>