<div id="myCarousel-2" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel-2" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel-2" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="item">
            <img src="{{ asset('uploads/slider_homepage/s1.jpg') }}" alt="">
            <div class="carousel-caption caption-right">
                <h4>Title 1</h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
                <br>
                <a href="javascript:void(0);" class="btn btn-info btn-sm">Read more</a>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="item">
            <img src="{{ asset('uploads/slider_homepage/s2.jpg') }}" alt="">
            <div class="carousel-caption caption-left">
                <h4>Title 2</h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
                <br>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Read more</a>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="item active">
            <img src="{{ asset('uploads/slider_homepage/s3.jpg') }}" alt="">
            <div class="carousel-caption">
                <h4>A very long thumbnail title here to fill the space</h4>
                <br>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
    <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
</div>