
{% block content %}

    {% for article in articles %}

        <div>
            <a href="{{ path('get_articles',  {'article': article})}}">{{ article }} in html</a>,
            <a href="{{ path('get_articles', {'article': article, '_format': 'json'}) }}">{{ article }} in json</a> and
            <a href="{{ path('get_articles', {'article': article, '_format': 'xml'}) }}">{{ article }} in xml</a>
            <a href="{{ path('get_articles', {'article': article}) }}">{{ article }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_articles', {'_format': 'json'}) }}">list articles in json</a></div>
    <div><a href="{{ path('get_articles', {'_format': 'xml'}) }}">list articles in xml</a></div>
    <div><a href="{{ path('get_articles') }}">list articles in the default format</a></div>

    <div><a href="{#{ path('new_article', {'_format': 'html'}) }#}">form to create a new article in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}