{% extends 'base.html.twig' %}

{% block body -%}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Article list
            <small>preview of articles</small>
        </h1>
        <!--
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>
        -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Article Table</h3>
                        <div class="box-tools">
                            <ul class="list-inline no-margin pull-right">
                                <li>
                                    <a href="{{ path('get_articles') }}" class="btn btn-primary btn-sm">
                                        Create a new article
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive pad">

                        <table class="table table-bordered table-responsive table-hover sorted_table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Content</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in articles %}
                                <tr>
                                    <td><a href="{#{ path('get_article', { 'id': entity.id }) }#}">{{ entity.id }}</a></td>
                                    <td><strong>{{ entity.title }}</strong><br/><small>(url:{{ entity.slug }})</small></td>
                                    <td>{{ entity.content }}</td>

                                    <td>
                                        <div class="btn-group">
                                            <a href="{{ path('get_article', { 'id': entity.id }) }}" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> Show</a>
                                            <a href="{#{ path('get_article', { 'id': entity.id }) }#}" class="btn btn-default btn-xs"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                                            <a href="{#{ path('get_article', { 'id': entity.id }) }#}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->

{% endblock %}