{% extends '::base.html.twig' %}

{% block body -%}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Post list
            <small>preview of categories</small>
        </h1>
        <!--
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>
        </ol>
        -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Post Table</h3>
                        <div class="box-tools">

                            {% for article in posts %}

                                <div>
                                    <a href="{#{ path('get_posts',  {'id': article.id}) }#}">{{ article.title }} in html</a>,
                                    <a href="{{ path('show', {'id': article.id, '_format': 'json'}) }}">{{ article.title }} in json</a> and
                                    <a href="{{ path('show', {'id': article.id, '_format': 'xml'}) }}">{{ article.title }} in xml</a>
                                    <a href="{{ path('show', {'id': article.id}) }}">{{ article.title }} in the default format</a>,
                                </div>

                            {% endfor %}

                            <div><a href="{{ path('get_posts', {'_format': 'json'}) }}">list articles in json</a></div>
                            <div><a href="{{ path('get_posts', {'_format': 'xml'}) }}">list articles in xml</a></div>
                            <div><a href="{{ path('get_posts') }}">list articles in the default format</a></div>

                            <div><a href="{{ path('get_posts', {'_format': 'html'}) }}">form to create a new article in html</a></div>

                            Rendered with twig. Page: {#{ data.page }#}


                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive pad">

                        <table class="table table-bordered table-responsive table-hover sorted_table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Content</th>

                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in posts %}
                                <tr>
                                    <td><a href="{#{ path('category_show', { 'id': entity.id }) }#}">{{ entity.id }}</a></td>
                                    <td><strong>{{ entity.title }}</strong><br/><small>(url:{{ entity.slug }})</small></td>
                                    <td>{{ entity.description }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{#{ path('category_show', { 'id': entity.id }) }#}" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> Show</a>
                                            <a href="{#{ path('category_edit', { 'id': entity.id }) }#}" class="btn btn-default btn-xs"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                                            <a href="{#{ path('category_delete', { 'id': entity.id }) }#}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div><!-- /.col -->
        </div><!-- /.row -->

    </section><!-- /.content -->

{% endblock %}