// colors
$fontSize			: 14px;
$textColor 			: #717171;
$themeColor			: #b6133A;

$white   			: #ffffff;
$grey				: #979797;
$greydark			: #5d5d5d;
$greymed			: #f2f2f2;
$greylight			: #f6f6f6;
$blackdark          : #626262;
$red				: #d21543;


// borders
$borderColor 		: #111111;

// fonts
$font-family-base   : 'Open Sans', sans-serif;
$opensans			: 'Open Sans', sans-serif;

$robotolight 		: 'robotolight';
$roboto 			: 'robotoregular';
$robotobold 		: 'robotobold';
$robotoblack 		: 'robotoblack';
$roboto_con 		: 'roboto_condensedregular';
$robotolight_i 		: 'robotolight_italic';
$opensans			: 'Open Sans', sans-serif;

$upper              : uppercase;


// colors

$color-1: #2e3233; // grey dark
$color-2: #69aa6f; // green
$color-3: #e2e3df; // grey light
$color-4: #ffffff; // white


// for comments section
$comment-thumb-width: 80px;


// colors
$danger: #ec3535;