{% extends 'base.html.twig' %}

{% block body -%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Article creation
        <small>create article</small>
    </h1>
    <!--
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Simple</li>
    </ol>
    -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Simple Full Width Table</h3>
                    <div class="box-tools">
                        <ul class="list-inline no-margin pull-right">
                            <li>
                                <a href="{{ path('api_article_new') }}" class="btn btn-primary">
                                    Create a new entry
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body pad">

                    {{ form(form) }}

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('api_article') }}">
                                Back to the list
                            </a>
                        </li>
                    </ul>

                </div><!-- /.box-body -->
            </div><!-- /.box -->


        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->
{% endblock %}