.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover{
	background: $themeColor;
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  left: 0;
}
.adx-primary-nav>li.open>.dropdown-menu{
  display: block;
}
li.dropdown-full>.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*display: none;*/
  float: left;
  min-width: 160px;
  padding: 10px 0 20px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border:none;
  border-radius:0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}