/* ==========================================================================
   								Header Area
   ========================================================================== */

.adx-primary-nav>li {
  position: inherit;
  display: block;
}
.navbar-collapse{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
}
.navbar {
  border: none;
  margin-bottom: 0;
}
.top-bar{
  font-family: $opensans;
  background: #fff;
  /*border-bottom: 1px solid $borderColor;*/
  font-size: 12px;
  /*min-height:86px;*/
  .navbar-logo{
	display: inline-block;
	padding-top: 5px;
  }
  .nav > li > a{
	color: $themeColor;
	text-transform: $upper;
	margin: 0;
	padding: 10px 10px 5px 10px;
  }
  .nav > li > a:hover{
	color: $greymed;
	background:none;
  }
  .nav > li{
	/*
    border-left: 1px solid $borderColor;
    &:last-child{
        border-right: 1px solid $borderColor;
    }
    */
  }
  .nav > li.social-icons > a{
	padding:10px 2px 6px 2px;
  }
  .nav > li > a.pro{
	background:$greymed;
	color: $red;
  }
  .nav > li > a.myaccount{
	background:$red;
  }
  .navbar{
	margin-bottom: 0;
	border:none;
  }
  .navbar-collapse{
	padding-left: 0;
    padding-right: 0;
	padding-top: 0px;
  }
  .flags > .nav > li{
	border-left: 0px solid #111;
	border-right: 0px solid #111;
	background: lightgray;
	border-radius: 0 0 6px 6px;
	padding: 2px 4px 4px 4px;
	margin: 0;
  }
  .flags > .nav > li > a{
	color:$themeColor;
  }

}
.logo-bar{
  font-family: $opensans;
  background: $themeColor;
  /*border-bottom: 1px solid $borderColor;*/
  font-size: 12px;
  /*min-height:86px;*/
  .navbar-logo{
    display: inline-block;
    padding-top: 5px;
    text-align:center;
  }
  .nav > li > a{
    color: $white;
    text-transform: $upper;
    margin: 0;
    padding: 10px 10px 5px 10px;
  }
  .nav > li > a:hover{
    color: $greymed;
    background:none;
  }
  .nav > li{
    /*
    border-left: 1px solid $borderColor;
    &:last-child{
        border-right: 1px solid $borderColor;
    }
    */
  }
  .nav > li.social-icons > a{
    padding:10px 2px 6px 2px;
  }
  .nav > li > a.pro{
    background:$greymed;
    color: $themeColor;
  }
  .nav > li > a.myaccount{
    background:$red;
  }
  .navbar{
    margin-bottom: 0;
    border:none;
  }
  .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
  }
  .flags > .nav > li{
    border-left: 0px solid #111;
    border-right: 0px solid #111;
    background: lightgray;
    border-radius: 0 0 6px 6px;
    padding: 2px 4px 4px 4px;
    margin: 0;
  }
  .flags > .nav > li > a{
    color:$themeColor;
  }

}

.header-bar{
  font-family: $opensans;
  /*padding: 23px 0;*/
  background: $white;
  border-top: 1px solid $greylight;
  border-bottom: 1px solid $greylight;
  .navbar-logo{
	display: inline-block;
	padding-top: 5px;
  }
  .navbar-brand, .navbar-nav>li>a {
	text-shadow: 1px 2px 5px rgba(0,0,0,.25);
  }
  .nav{
	padding-left:0;
  }
  .nav > li > a{
	color: $red;
	text-transform: $upper;
  }
  &.active > a{
	color: $themeColor;
	background: $greylight;
  }
  .nav > li > a:hover{
	background: $greylight;
	color: $greydark;
  }
  .nav{
	> li > a{
	  .fa-search{
		color: $red;
	  }
	}
  }
  .navbar{
	margin-bottom: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
  }

}
.search-dropdown{
  padding: 10px;
  min-width: 250px;
}


/* default setting of bootstrap-navigation */
.navbar-nav{
  > li{
	> a{
	  &:hover,&:focus{
		background: none;
	  }
	  &:hover{
		color: $themeColor;
	  }
	}
	&.open.dropdown > a,
	&.active > a{
	  color: $themeColor;
	  background: $greylight;
	}
  }
}
.navbar-nav > .social-icons{
  padding: 0 10px;
}
.navbar-nav > .social-icons > a{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin:0;
}



/* responsive header */
@media (max-width: 767px){
  /*
  .top-bar{
      display:none;
  }
  */
  .header-bar{
	padding: 10px 15px;
  }
  .navbar-toggle{
	background: #fcfcfc;
	&:hover{
	  background: #fafafa;
	}
	.icon-bar{
	  background: $themeColor;
	}
  }
}